.home {
    height: 100vh;
    display:flex;
    flex:1;
    flex-direction:column;
    background: #8360c3; 
    background: -webkit-linear-gradient(to right, #8360c3, #2ebf91); 
    background: linear-gradient(to right, #8360c3, #2ebf91); 
}

.menuAdm {
    flex:3;
    display:flex;
    flex-direction:column;
    background-color:aqua;
}

.a1 {
    margin:auto;
}

ul,ol {
    list-style:none;
}

.opAdmi li a {
    display:block;
    background-color: rgb(233, 16, 160);
    color:white;
    text-decoration: none;
    font-size:16px;
    border-radius:8px;
    padding:8px;
    border:none;
    width:140px;
    text-align: center;
}

.opAdmi li a:hover {
    background-color:rgb(177, 0, 0);
}

.opAdmi >li {
    float:left;
}

.opAdmi li ul {
    display:none;
    position: absolute;
    min-width:140px;
}

.opAdmi li:hover >ul {
    display:block;
}

.opAdmi li ul li {
    position:relative;
}

.opAdmi li ul li ul {
    right:-140px;
    top:0px;
}



.headerHomeAdmi {
    display:flex;
    flex:1;
    flex-direction:row;
    background-color: yellow;
}

.logoMenuAdmi {
    display:flex;
    flex:2;
    flex-direction:column;
    background-color: grey;
}
.logoMenuAdmi img {
    height:60px;
    width:60px;
    padding:24px;
}

.optionsMenuAdmi {
    flex:6;
    display:flex;
    flex-direction:row;
    background-color:rgb(140, 0, 255);
}

.addUser {
    flex:2;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.addUser button{
    font-size:16px;
    border-radius:8px;
    padding:8px;
    border:none;
    width:160px;
    text-align: center;
}

.listUsers {
    flex:2;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.listUsers button{
    font-size:16px;
    border-radius:8px;
    padding:8px;
    border:none;
    width:160px;
    text-align: center;
}

.reports {
    flex:2;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.reports button{
    font-size:16px;
    border-radius:8px;
    padding:8px;
    border:none;
    width:160px;
    text-align: center;
}

.perfilMenuAdmi {
    flex:1;
    display:flex;
    flex-direction: column;
    background-color: pink;
}

.windows {
    flex:10;
    display:flex;
    flex-direction:column;
    background-color: aqua;
}

.pieMenuAdmi {
    flex:1;
    display: flex;
    flex-direction: row;
}















/*img{
    height: 80vh;
    color: white;
    display:flex;
    flex:1;
}imagen de fondo (literalmente fondo)*/