.home {
    height: 100vh;
    display:flex;
    flex:1;
    flex-direction:column;
    background: #8360c3; 
    background: -webkit-linear-gradient(to right, #8360c3, #2ebf91); 
    background: linear-gradient(to right, #8360c3, #2ebf91); 
}

.menuAdm {
    flex:3;
    display:flex;
    flex-direction:column;
    background-color:aqua;
}

.headerHomeAdmi {
    display:flex;
    flex:1;
    flex-direction:row;
    background-color: yellow;
}

.logoMenuAdmi {
    display:flex;
    flex:2;
    flex-direction:column;
    background-color: grey;
}
.logoMenuAdmi img {
    height:60px;
    width:60px;
    padding:24px;
}

.optionsMenuAdmi {
    flex:6;
    display:flex;
    flex-direction:row;
    background-color:rgb(140, 0, 255);
}

.addUser {
    flex:2;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.addUser button{
    font-size:16px;
    border-radius:8px;
    padding:8px;
    border:none;
    width:160px;
    text-align: center;
}

.listUsers {
    flex:2;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.listUsers button{
    font-size:16px;
    border-radius:8px;
    padding:8px;
    border:none;
    width:160px;
    text-align: center;
}

.reports {
    flex:2;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.reports button{
    font-size:16px;
    border-radius:8px;
    padding:8px;
    border:none;
    width:160px;
    text-align: center;
}

.perfilMenuAdmi {
    flex:1;
    display:flex;
    flex-direction: column;
    background-color: pink;
}

.windows {
    flex:10;
    display:flex;
    flex-direction:column;
    background-color: aqua;
}

.pieMenuAdmi {
    flex:1;
    display: flex;
    flex-direction: row;
}































/*img{
    height: 80vh;
    color: white;
    display:flex;
    flex:1;
}imagen de fondo (literalmente fondo)*/









