.login-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.login-left {
    display: flex;
    flex:1;
    flex-direction: column;
}

.login-left img{
    height: 100vh;
}

.login-right {
    display: flex;
    flex:1;
    flex-direction: column;
    background-color: #E02F3B;
}

.headerLogin {
    display: flex;
    background-color:#E02F3B;
    justify-content: center;
    align-items: center;
}

.headerLogin img {
    height:120px;
    width:120px;
    padding:24px;
}

.formContainer{
    display:flex;
    flex-direction:column;
    flex:3;
    align-items:center;
    justify-content: center;
}

.formContainer form {
    display:flex;
    flex:1;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
}

.textLogin {
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}

.textLogin h1{
    font-size:40px;
    margin:0;
    font-family: 'Amatic SC', cursive;
    font-weight:700;
    font-size:64px;
    color:white ;
}

.rut {
    flex:2;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.rut h4 {
    font-weight:500;
    margin:0;
    color:white;
}

.rut input{
    font-family: 'Barlow Condensed', sans-serif;
    width:200px;
    margin-top:8px;
    background-color:rgba(255,255,255,0.4);
    padding:8px;
    border:none;
    border-radius:32px;
}

.pass {
    flex:2;
    display:flex;
    flex-direction:column;
    color:white;
}

.pass h4 {
    font-weight:500;
    margin:0;
}

.pass input {
    font-family: 'Barlow Condensed', sans-serif;
    font-size:16px;
    width:200px;
    margin-top:8px;
    background-color:rgba(255,255,255,0.4);
    padding:8px;
    border:none;
    border-radius:32px;
}

.buttonsSesion {
    flex:1;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:space-between;
    width:300px;
}

.buttonRecoverPass {
    color: white ;
    border-style:none;
    border-width:0;
    padding:8px;
    text-decoration:underline;
    background-color:transparent;
}

.buttonLogin {
    color: white;
    font-size:16px;
    border-radius:8px;
    background-color:rgb(228, 74, 84);
    padding:8px;
    border:none;
}

.firmaContainer {
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content:flex-end;
    padding-bottom:8px;
    align-items:center;
    color:white;
    font-size:13px;
}